* {
  margin: 0px 0px;
  padding: 0px 0px;
}

@media screen and (max-width: 567px) {
  nav {
    flex-direction: column;
    padding: 0px 0px;
    margin: 60px 0px;
    
  }
  .contact-us {
    flex-direction: column;
    padding: 30px 0px;
    margin: 0px 0px;
  }
  .g {
    padding-left: 15px;
    margin: 0px 0px;
  }
  button {
    padding: 10px 25px;
    margin: 0px 0px;
  }
  .about-us {
    padding: 0px 0px;
    margin: 0px 0px;
  }
  .devlopers {
    padding: 30px 0px;
    margin: 0px 0px;
  }
  /*section mid*/

  .main-container-text {
    margin-left: 0px;
    padding-bottom: 30px;
  }
  .main-container {
    flex-direction: column-reverse;
    margin: 0px 0px;
  }
  .main-container-text > img {
    width: 200%;
    
  }
  .main-container-img > img {
    width: 170%;
    height: 250%;
    padding-left: 10px;
  }
  .main-container-text,
  .main-container-img > img {
    margin-left: 10px;
    padding-top: 50px;
    padding-bottom: px;
  }
  .overlay-text {
    position: absolute;
    top: 15%;
    left: 10%;
  }
  .btn{
    padding-top: 10px;
  }
  /* secondry-main-container starts from here */
  .secondry-main-container {
    flex-direction: column;
    margin: 0px 0px;
    width: 100%;
    
    
  }
  .secondry-main-container > img {
    width: 100%;
  }
  .toys-text {
    padding-left: 105px;
    text-align: center;
    padding-right: 90px;
  }
  .we-are-gamer {
    text-align: center;
  }
  .we-are-gamer-dis {
    text-align: center;
  
  
  }
  .that-button-alignment {
    justify-content: center;
  }
  
  .we-are-gamer-0 > p {
  
    font-size: 22px;
    font-weight: 700;
    padding-top: 30px;
    
}
