* {
  margin: 0px 0px;
  padding: 0px 0px;
}

@media screen and (max-width: 567px) {
  nav {
    flex-direction: column;
    padding: 0px 0px;
    margin: 60px 0px;
  }
  .contact-us {
    flex-direction: column;
    padding: 30px 0px;
    margin: 0px 0px;
  }
  .g {
    padding-left: 15px;
    margin: 0px 0px;
  }
  button {
    padding: 10px 25px;
    margin: 0px 0px;
  }
  .about-us {
    padding: 0px 0px;
    margin: 0px 0px;
  }
  .devlopers {
    padding: 30px 0px;
    margin: 0px 0px;
  }
  /*section mid*/

  .main-container-text {
    margin-left: 0px;
    padding-bottom: 30px;
  }
  .main-container {
    flex-direction: column-reverse;
    margin: 0px 0px;
  }
  .main-container-text > img {
    width: 200%;
  }
  .main-container-img > img {
    width: 170%;
    height: 250%;
    padding-left: 10px;
  }
  .main-container-text,
  .main-container-img > img {
    margin-left: 10px;
    padding-top: 50px;
    padding-bottom: px;
  }
  .overlay-text {
    position: absolute;
    top: 15%;
    left: 10%;
  }
  .btn {
    padding-top: 10px;
  }
  /* secondry-main-container starts from here */
  .secondry-main-container {
    flex-direction: column;
    margin: 0px 0px;
    width: 100%;
  }
  .secondry-main-container > img {
    width: 100%;
  }
  .toys-text {
    padding-left: 105px;
    text-align: center;
    padding-right: 90px;
  }
  .we-are-gamer {
    text-align: center;
  }
  .we-are-gamer-dis {
    text-align: center;
  }
  .that-button-alignment {
    justify-content: center;
  }

  .we-are-gamer-0 > p {
    font-size: 22px;
    font-weight: 700;
    padding-top: 30px;
  }
  .mid-image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-left: 27px;
    padding-top: 40px;
    line-height: 35px;
  }
  .gradient-overlay {
    width: 134%;
  }
  .watch-now-play {
    top: 40%;
    left: 45%;
  }
  .mid-image > p {
    text-align: center;
    padding: 0px 0px;
    margin: 0px 0px;
    width: 130%;
  }
  .mid-image {
    width: 70%;
  }
  /*lower-mid-section*/
  .lower-mid-section {
    flex-direction: column;
    margin: 0px 0px;
    padding: 0px 0px;
  }
  .second-image > img {
    width: 30%;
    position: absolute;
    top: 60%;
    left: -10%;
  }
  .lower-mid-dp > h1 {
    text-align: center;
    padding-top: 30px;
  }
  .lower-mid-dp > p {
    text-align: center;

    padding-bottom: 30px;
    margin: 0px;
  }
  .now-downloads {
    text-align: center;
  }
  .semi-emerge {
    margin-left: 70px;
  }
  .second-image > img {
    width: 30%;
    position: absolute;
    top: 60%;
    left: -10%;
  }
  .first-image > img {
    width: 80%;
  }
  .final-mid-section {
    flex-direction: column;
  }
  .final-mid-section-text > h1 {
    padding-left: 0px;
  }
  .final-mid-section-img > img {
    padding-bottom: 40px;
    padding-left: 0px;
    padding-top: 40px;
    width: 90%;
  }
  .final-mid-section-text > p {
    width: 80%;
  }
  .multi-section-1 > p {
    width: 60%;
  }
  .multi-section-2 > p {
    width: 60%;
  }
  .game-list-options {
    display: grid;
    grid-template-columns: repeat(2, 0.12fr);
    padding: 0px;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 7px;
    gap: 15px;
  }
  /*footer-optimization*/
  .gamer-pic-text {
    width: 60%;
    align-items: center;
    margin-left: 80px;
  }
  .six-bullets-points {
    padding-top: 15px;
    margin: 0px;
    width: auto;
    grid-template-columns: repeat(3, 0.7fr);
    row-gap: 30px;
  }
  .six-image-points {
    margin-left: 60px;
    padding-left: 0px;
  }
  .outro-text {
    margin-left: 0px;
  }
}
