@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap");
* {
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  align-items: center; /* Vertically center items in the nav */
  margin: 90px 140px;
  background-color: #fff; /* Optional background color for the navigation bar */
}

.gamer-title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  display: flex; /* Add flex properties for alignment */
  align-items: center; /* Vertically center the content */
}

.g {
  color: #ff42a5;
  padding-left: 15px;
}

.contact-us {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  display: flex; /* Add flex properties for alignment */
  align-items: center; /* Vertically center the content */
}

button {
  font-size: 18px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border-style: none;
  font-weight: 500;
  padding: 10px 25px;
  display: flex; /* Add flex properties for alignment */
  align-items: center; /* Vertically center the content */
}
.about-us {
  margin-left: 800px;
}
.devlopers {
  margin-left: 10px;
  margin-right: 10px;
}
button img {
  margin-left: 10px;
}

/* main section starts form here */
.main-container-text {
  position: relative;
  width: 50%;
}
.main-container-text > img {
  height: 100%;
  width: 100%;
}
.overlay-text {
  position: absolute;
  top: 30%;
  left: 20%;
}
.main-container {
  max-width: 1400px;
  min-height: 50px;
  display: flex;
  margin: 0px 125px;
}
.main-container-img {
  width: 50%;
}
.main-container-img > img {
  width: 100%;
  height: 100%;
}
.features-text {
  padding-left: 10px;
}
.social-icons {
  display: flex;
  flex-direction: column;
  color: #534c64;

  font-size: 14px;

  font-weight: 500;
}
.fa-solid {
  margin-top: 10px;
}
.overlay-text h1 {
  color: #0b0223;
  font-size: 49px;

  font-weight: 600;

  text-transform: uppercase;
}
.overlay-text p {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 95px;

  font-weight: 800;

  text-transform: uppercase;
}
.btn {
  padding-top: 25px;
  display: flex;
  gap: 20px;
}
.pink-btn {
  color: #fff;
  border-radius: 48px;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
}
.blue-btn {
  color: white;
  border-radius: 48px;
  background: #4ec5f7;
}
/* secondry-main-container starts from here */
.secondry-main-container {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
  display: flex;

  margin: 40px 120px;
  width: 1650px;
}

.secondry-main-container > img {
  width: 45%;
}
.toys-text {
  width: 50%;
  text-align: right;
  padding-right: 40px;
  padding-top: 50px;
  border: 1px solid red;
}
.we-are-gamer {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 20px;
}
.we-are-gamer-dis {
  color: #534c64;
  text-align: right;

  font-size: 18px;

  font-weight: 400;
}
.we-are-gamer-0 {
  color: #534c64;

  font-size: 24px;

  font-weight: 500;
}
.we-are-gamer-0 > p {
  color: #534c64;

  font-size: 32px;

  font-weight: 700;
}
.know-more-pink {
  border-radius: 48px;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  color: white;
}
.that-button-alignment {
  display: flex;
  justify-content: right;
  padding: 40px 0px;
}
