@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap");
* {
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  align-items: center; /* Vertically center items in the nav */
  margin: 90px 140px; /* Adjust the margin as needed */
  background-color: #fff; /* Optional background color for the navigation bar */
}

.gamer-title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  display: flex; /* Add flex properties for alignment */
  align-items: center; /* Vertically center the content */
}

.g {
  color: #ff42a5;
  padding-left: 15px;
}

.contact-us {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  display: flex; /* Add flex properties for alignment */
  align-items: center; /* Vertically center the content */
}

button {
  font-size: 18px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border-style: none;
  font-weight: 500;
  padding: 10px 25px;
  display: flex; /* Add flex properties for alignment */
  align-items: center; /* Vertically center the content */
}
.about-us {
  margin-left: 800px;
}
.devlopers {
  margin-left: 10px;
  margin-right: 10px;
}
button img {
  margin-left: 10px;
}

/* main section starts form here */

.main-container {
  display: flex;
  position: relative;
}
.paragraph-main {
  position: absolute;
  top: 30%;
  left: 10%;
}
@media screen and (max-width: 567px) {
  nav {
    flex-direction: column;
    padding: 0px 0px;
    margin: 60px 0px;
  }
  .contact-us {
    flex-direction: column;
    padding: 30px 0px;
    margin: 0px 0px;
  }
  .g {
    padding-left: 15px;
    margin: 0px 0px;
  }
  button {
    padding: 10px 25px;
    margin: 0px 0px;
  }
  .about-us {
    padding: 0px 0px;
    margin: 0px 0px;
  }
  .devlopers {
    padding: 30px 0px;
    margin: 0px 0px;
  }
}
