* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  justify-content: space-between; /* Change from space-evenly to space-between */
  align-items: center; /* Vertically center items in the nav */
  margin-top: 20px; /* Adjust the margin as needed */
  background-color: #fff; /* Optional background color for the navigation bar */
  padding: 10px; /* Optional padding for the navigation bar */
}

.gamer-title {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  display: flex; /* Add flex properties for alignment */
  align-items: center; /* Vertically center the content */
}

.g {
  color: #ff42a5;
  padding-left: 15px;
}

.contact-us {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
  display: flex; /* Add flex properties for alignment */
  align-items: center; /* Vertically center the content */
}

button {
  font-size: 18px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border-style: none;
  font-weight: 500;
  padding: 10px 25px;
  display: flex; /* Add flex properties for alignment */
  align-items: center; /* Vertically center the content */
}

/* Add spacing between the Follow us text and icons */
button a.about-us {
  margin-right: 10px;
}

/* Add spacing between social media icons */
button img {
  margin-left: 10px;
}
